* {
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cube {
    margin: 20% 10px;
    width: 100px;
    height: 100px;
    border-radius: 10%;
    background-color: gainsboro;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
}

.third {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px 20px;
}

.fifth {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sixth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 20px;
}